<h1>Request For Intervention</h1>


<form id="intervention" action="/request_intervention" method="post" >
	<fieldset>
  
		<div>
			<div class="mb-10">
				<label for="customer_id">Select A Customer</label>
				
				<select class="form-control pointer" >
					<option value="" selected>Customer</option>
					<%= @customer.each do |customer| %>
						<option name="customer_id" value="<%= customer.id %>"><%= customer.company_name %></option>
					<% end %>
											
				</select>
				
			</div>           
		
		</div>








	</fieldset>  
  <input id="test" type="submit" value="Submit">
</form> 


