<h1>Request For Intervention</h1>


<form action="/">
  
    <div>
	<div class="mb-10">
		<label for="guests">Select A Customer</label>
		<label class="field select">
			<select class="form-control" name="guests" id="guests">
				<%# <option>1</option> %>
			                              
			</select>
			<%# <i class="arrow double"></i> %>
		</label> 
	</div>           
	<%# <div class="slider-wrapper">
		<div id="slider4"></div>
	</div> %>
</div>








  <input id="test" type="submit" value="Submit">
</form> 

<button type="button">Click Me!</button>

