<h1>Request For Intervention</h1>


<form action="/">
  
    <div>
	<div class="mb-10">
		<label for="guests">Select A Customer</label>
		<label class="field select">
			<select class="form-control" name="guests" id="guests">
			  <%= @customer.each do |customer| %>
                <option value="<%= customer.id %>"><%= customer.company_name %></option>
        <% end %>
			                              
			</select>
			<%# <i class="arrow double"></i> %>
		</label> 
	</div>           
	
</div>








  <input id="test" type="submit" value="Submit">
</form> 


